<%- include('../partials/header'); -%>
<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <% users.forEach(function(user){ %>
                <tr>
                    <td><%- user.id %></td>
                    <td><%- user.name %></td>
                    <td><button class="btn btn-sm btn-primary" onclick="window.location.href='/home/player_info/post/<%- user.id %>'">more+</button></td>
                </tr>
            <% }); %>
        </table>
    </div>
</div>