<%- include('../partials/header'); -%>
    <div class="container">
        <div class="row">
            <table class="table table-hover">
              <tr>
                  <td>all of the football games in the Fall 2020 Season</td><td><%- result_1 %></td>
              </tr>
                <tr>
                    <td>the number of winning games in the Fall 2020 Season</td><td><%- result_2 %></td>
                </tr>
                <tr>
                    <td>the number of lossing games in the Fall 2020 Season</td><td><%- result_3 %></td>
                </tr>
            </table>
        </div>
        </div>